# 1. Right Angle Tringle Pattern

In [22]:
for i in range (1,5):
    print(' A ' *i)

 A
 A  A
 A  A  A
 A  A  A  A

In [24]:
for i in range(1,6):
    print(' # ' *i)

 #
 #  #
 #  #  #
 #  #  #  #
 #  #  #  #  #

# 2. Inverted Right Angle Triangle

In [27]:
for i in range(5,0,-1):
    print(' A ' *i)

 A  A  A  A  A
 A  A  A  A
 A  A  A
 A  A
 A

In [29]:
for i in range(5,0,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

# 3. pyramid pattern

In [32]:
for i in  range (1,6):
    print(''*(5-i)+' * ' *(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [34]:
for i in range(1,6):
     print(''*(5-i)+' V ' *(2*i-1))

 V
 V  V  V
 V  V  V  V  V
 V  V  V  V  V  V  V
 V  V  V  V  V  V  V  V  V

#   4. Inverted Pyramid pattern

In [60]:
for i in range (5,0-1):
    print(''*(5-i)+ ' # ' *(2*i-1))

In [62]:
for i in range (5,0-1):
    print(''*(5-i)+' # '*(2*i-1))

# 5. Daimond pattern

In [65]:
for i in range (1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range (4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# 6. Hallow square pattern

In [72]:
for i in range(5):
    for j in range (5):
        if i == 0 or i==4 or j==0 or j==4:
            print("A",end='')
        else:
            print(' ',end='')
    print()

AAAAA
A   A
A   A
A   A
AAAAA

In [74]:
for i in range(5):
    for j in range (5):
        if i == 0 or i==4 or j==0 or j==4:
            print("#",end='')
        else:
            print(' ',end='')
    print()

#####
#   #
#   #
#   #
#####

# 7. full square pettern

In [77]:
for i in range(5):
    print(' * '*5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [83]:
for i in range(5):
    print(' sanjay '*5)

 sanjay  sanjay  sanjay  sanjay  sanjay
 sanjay  sanjay  sanjay  sanjay  sanjay
 sanjay  sanjay  sanjay  sanjay  sanjay
 sanjay  sanjay  sanjay  sanjay  sanjay
 sanjay  sanjay  sanjay  sanjay  sanjay

# 8. Right angle triangle(number pattern)

In [88]:
for i in range(1, 6):
    print(' '.join(str(x) for x in range(1,i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 9. Inverted Right angle tringle (number pattern)

In [90]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1,i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 10. Floyd's tringle

In [98]:
num = 1
for i in range(1, 6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# 11. Hallow Right Angle Tringle

In [109]:

for i in range(1, 6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
           print('*',end=' ')
        else:
           print(num,end=' ')
    print()

*
* *
* 1 *
* 1 1 *
* * * * *

#    12. Hallow pyramid pattern

In [113]:
for i in range(1,6):
    for j in range(5 - i):
        print(' ',end= ' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i -2 or i == 5:
            print('L',end=' ')
        else:
            print(' ',end=' ')
    print()

        L
      L   L
    L       L
  L           L
L L L L L L L L L

In [115]:
for i in range(1,6):
    for j in range(5 - i):
        print(' ',end= ' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i -2 or i == 5:
            print('#',end=' ')
        else:
            print(' ',end=' ')
    print()

        #
      #   #
    #       #
  #           #
# # # # # # # # #

#  13. Hallow Diamond pattern

In [119]:
n = 7
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ',end = ' ')
    for j in range(2 * i - 1):
            if j==0 or j==2 * i - 2:
                print('#',end=' ')
            else:
                print(' ',end=' ')
    print()

for i in range(n - 1,0, -1):
    for j in range(n - i):
        print(' ' ,end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('#',end=' ')
        else:
            print(' ',end=' ')
    print()

            #
          #   #
        #       #
      #           #
    #               #
  #                   #
#                       #
  #                   #
    #               #
      #           #
        #       #
          #   #
            #

In [121]:
n = 7
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ',end = ' ')
    for j in range(2 * i - 1):
            if j==0 or j==2 * i - 2:
                print('Love',end=' ')
            else:
                print(' ',end=' ')
    print()

for i in range(n - 1,0, -1):
    for j in range(n - i):
        print(' ' ,end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('Love',end=' ')
        else:
            print(' ',end=' ')
    print()

            Love
          Love   Love
        Love       Love
      Love           Love
    Love               Love
  Love                   Love
Love                       Love
  Love                   Love
    Love               Love
      Love           Love
        Love       Love
          Love   Love
            Love

## 14. Hallow Diaond(Numbeer pattern)

In [128]:
n = 7
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ',end = ' ')
    for j in range(2 * i - 1):
            if j==0 or j==2 * i - 2:
                print('i',end=' ')
            else:
                print(' ',end=' ')
    print()

for i in range(n - 1,0, -1):
    for j in range(n - i):
        print(' ' ,end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('i',end=' ')
        else:
            print(' ',end=' ')
    print()

            i
          i   i
        i       i
      i           i
    i               i
  i                   i
i                       i
  i                   i
    i               i
      i           i
        i       i
          i   i
            i

## 15. Butterfly pattern

In [3]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ',end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i +1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

n = 5
for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ',end=' ')
    for j in range(i):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ',end=' ')
    for j in range(i):
        print('*', end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

## 16. Hallow Number pyramid

In [6]:
n = 5
for i in range (1, n + 1):
    for j in range (n - i):
        print(' ',end=' ')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 or i == n:
            print(i, end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5



##     17. Full star pyramid

In [12]:
n = 5
for i in range(1, n +  1):
    for j in range(n - i):
        print(' ',end=' ')

    for j in range(2 * i - 1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## 18  Inverted full stars pyramid

In [15]:
n = 5
for i in range(n, 0,  -1):
    for j in range(n - i):
        print(' ',end=' ')

    for j in range(2 * i - 1):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

##  19. left aligned pyramid pattern

In [18]:
n = 5
for i in range(1, n + 1):
    for j in range (i):
        print('*',end=' ')
    print()

n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j,end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 20. Right Aligned pyramid pattern

In [21]:
n = 5
for i in range(1, n + 1):
    for j in range (n - i):
        print(' ',end=' ')

    for j in range(1, i +1):
        print(j, end=' ')
    print()

n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range (i):
        print('*',end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *