## Using  Escape cahracter

In [ ]:
# using double  quotes in the string is not allowed.
mystr = 'my favourite webseries is 'maharani''

In [6]:
# Using escape caharacter to allow illegal characters 
mystr = "my favourite web series is \"Maharani\""
print(mystr)

my favourite web series is "Maharani"

#  List 
- 1.) list is an ordered sequence of items .
- 2.) We can have different data types under a list E.g we can have integer, float, and string items in a same list.

## List creation

In [14]:
list1 = [] #empty list

In [16]:
print(type(list1))

<class 'list'>

In [24]:
list2 = [10, 20, 30, 60]  # list of integers numbers 
list2

[10, 20, 30, 60]

In [26]:
list3 = [ 20.23, 14.53, 55.34]  # list of float numbers 
list3

[20.23, 14.53, 55.34]

In [28]:
list4 = ['one', 'two', 'three','four'] # list of string numbers
list4

['one', 'two', 'three', 'four']

In [30]:
list5 = [10, 23.43, 'sanjay',[34,56], [34,46,50]] # nasted list 
list5

[10, 23.43, 'sanjay', [34, 56], [34, 46, 50]]

In [32]:
list6 = [100, 'sanjay', 34.56] # list of mixed data types
list6

[100, 'sanjay', 34.56]

In [34]:
list7 = ['rahul', 34,[34,56],[25,58],{'nehru','raju'}]
list7

['rahul', 34, [34, 56], [25, 58], {'nehru', 'raju'}]

In [36]:
len(list6)  # length of list6

3

In [38]:
list2[0] # retarive first element of the list

10

In [40]:
list4[0]# retarive first element of the list

'one'

In [42]:
list4[0][0] # nasted indexing access the first characters of the first list element

'o'

In [46]:
list4[-1] # last item of the list

'four'

In [50]:
list5[-1] # last item of the list

[34, 46, 50]

## List slicing

In [53]:
mylist = ['one','two','three','four','five','six', 'seven', 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
mylist[0:3] # return all item from 0 to 3rd index location excuting the item

['one', 'two', 'three']

In [57]:
mylist[2:5] # list all item from 2nd to 5th index location excluding the item

['three', 'four', 'five']

In [59]:
mylist[:3]  # return first three item

['one', 'two', 'three']

In [61]:
mylist[:2] # return first two item

['one', 'two']

In [65]:
mylist[-3:] # return last three item

['six', 'seven', 'eight']

In [67]:
mylist[-2:]

['seven', 'eight']

In [69]:
mylist[-1]

'eight'

In [75]:
mylist[:]  # return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## Add Remove & change item

In [78]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [80]:
mylist.append('nine') # add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [82]:
mylist.insert(9,'ten') # add item to  index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [84]:
mylist.insert(1,'ONE') # add item at Index location 1 
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [86]:
mylist.remove("ONE") # remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [88]:
mylist.pop() # remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [100]:
mylist.pop(7) # remove last at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [102]:
del mylist[6] # remove item a hthe index location 6
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [104]:
# change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist[3] = 4
mylist

[1, 2, 3, 4, 'five', 'six']

In [106]:
mylist.clear() # empty list/ Delete all items in the list 
mylist

[]

In [108]:
del mylist # delee the whole list
mylist

NameError: name 'mylist' is not defined

## Copy List

In [112]:
mylist = ['one','two','three','four','five','six', 'seven', 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [114]:
mylist1 = mylist  # create a new refrences "mylist1"

In [116]:
id(mylist),id(mylist1)  # the address of the both mylist & mylist1 will be the same

(2493398395904, 2493398395904)

In [118]:
mylist2 = mylist.copy()# Create a copy of the list

In [120]:
id(mylist2) # the address of mylist2 will be different from mylis bacause mylist

2493398784384

In [122]:
mylist[0] = 1

In [126]:
mylist # mylist will be also impaced as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [128]:
mylist2 # copy of list won't be impacted due o cahnges made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## Join List

In [137]:
list1 = ['one','two', 'three', 'four']
list2 = ['five','six', 'seven','eight']

In [139]:
list3 = list1+list2  #join two list by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [141]:
list1.extend(list2)  # Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## list membership

In [144]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [148]:
'one' in list1 # check if 'one' exist in the list

True

In [150]:
'ten' in list1 # check if en exist inthe list

False

In [152]:
if 'three' in list1:   ## check if 'three' exist in the list
    print('three is present in the list')
else:
    print('three is not present in the list')

three is present in the list

In [154]:
if 'three' in list1:   # check if 'eleven' exixst in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is present in the list

## Reverse & Sort List

In [157]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [159]:
list1.reverse()  # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [161]:
list1 = list1[::-1]  # reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [163]:
mylist3 = [9,8,5,6,34,12,43,65,12,21]
mylist3.sort() # sort list in accending order 
mylist3

[5, 6, 8, 9, 12, 12, 21, 34, 43, 65]

In [165]:
mylist3 = [9,8,5,6,34,12,43,65,12,21]
mylist3.sort(reverse = True) # sort list in accending order 
mylist3

[65, 43, 34, 21, 12, 12, 9, 8, 6, 5]

In [167]:
mylist4 = [66,78,44,45,87,32,98]
sorted(mylist4)    #returns a new sorted list and dosen't change original list

[32, 44, 45, 66, 78, 87, 98]

## Loop Through a List

In [170]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [172]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [174]:
for i in enumerate (list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [177]:
list10 = ['one','two','three','four','one','two','three']

In [179]:
list10.count('one') # number of item "one" occured in the list

2

In [181]:
list10.count('four')  # occured in item 'four' in the list

1

In [183]:
list10.count('two')  # occured in item 'two' in the list

2

 ## All/ Any 
The all ()method returns:
- True - if all elements in a list are true
- False - if any elements in a list is false
- The any functions return True if any element in the list is True.if not, any() return false.

In [188]:
l1 = [1,2,3,4,0]

In [190]:
all(l1) # will Return false as one value is false (value 0)

False

In [192]:
any(l1)  # will return true as we have items in the list with true value

True

In [194]:
l2 = [1,2,3,4,5,True,False]

In [196]:
all(l2) # return false as one value if false

False

In [198]:
any(l2) # will return true as we have items in the list with true value

True

In [200]:
l3 = [1,2,3,True]

In [202]:
all(l3) # will return true as all items in the list are true

True