## Python Tutorial

In [2]:
import sys
import keyword
import operator
from  datetime import datetime
import os

## Keyword
- keyward are the reserved words in python and can't be used as an identifier

In [7]:
print(keyword.kwlist)  # list all python keyword

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
len(keyword.kwlist)  # python contains 35 keywords

35

## Identifiers
- an identifier is a name given to entities like class , functions, variable, etc. it helps to differentiate one entitu from another

In [13]:
1var = 10 # identifier can't start with a digit

SyntaxError: invalid decimal literal (4271750536.py, line 1)

In [15]:
val2@ = 35  # Identifier can't use special saymbols

SyntaxError: invalid syntax (2492417883.py, line 1)

In [17]:
import = 125 # keywords can't be used as identifiers

SyntaxError: invalid syntax (3943580876.py, line 1)

In [19]:
"""  
Correct way of defining an identifier
(Identifiers can be a combination of latters in lowercase (a to z) or uppercase)
"""
val2 = 20

In [21]:
val_ = 99

In [23]:
# single line comment
val1 = 10

In [25]:
# Multiple 
# Line 
# Comment
vl1 = 10

In [27]:
'''
Multiple
Line
Comment
'''
val1 = 10

In [29]:
"""
Multiple
Line
Comment
"""
val1 = 10

## Statements
- instructions that a python interapreter can excute.

In [32]:
p = 20 # creates an integer object with vakue 20 and assigns the variable p to p
q = 20  # create new references q wich will point to value 20. p&q will be point
r = q  # variable r will also point to the same location where p & q are pointing
p, (type(p)), hex(id(p)) # variable p is pointing to memory location

(20, int, '0x7ffed2d42c18')

In [34]:
q, (type(q)), hex(id(q))

(20, int, '0x7ffed2d42c18')

In [36]:
r, (type(r)), hex(id(r))

(20, int, '0x7ffed2d42c18')

In [38]:
p = 20 
p = p + 10 # variable oerwriting
p

30

## varaible assignments

In [41]:
intvar = 10 # Integer variable 
floatvar = 7.4 # float variable
strvar = 'Python language' # string variable 

print(intvar)
print(floatvar)
print(strvar)

10
7.4
Python language

# #  Multiple assignmant

In [44]:
intvar, floatvar, strvar = 10, 7.4, 'Python language' # ussing comma to seprate
print(intvar)
print(floatvar)
print(strvar)

10
7.4
Python language

In [46]:
p1 =p2 = p3 = p4 = 44 # all variable pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types

## Numeric

In [50]:
val1 = 10 #integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, "is Integer?", isinstance(val1,int)) # val1 is an instance of int

10
<class 'int'>
28
10 is Integer? True

In [52]:
val2 = 56.40 #float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, "is Float?", isinstance(val2,float)) # val2 is an instance of float

56.4
<class 'float'>
24
56.4 is Float? True

In [54]:
val3 = 34+10j #complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of complex object in bytes
print(val3, "is complex?", isinstance(val3,complex)) # val3 is an instance of complex

(34+10j)
<class 'complex'>
32
(34+10j) is complex? True

In [60]:
 sys.getsizeof(int()) # size of integer object in bytes

28

In [62]:
 sys.getsizeof(float()) # size of float object in btyes

24

In [64]:
 sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean
- Boolean data type can have onely two possible values true or false

In [70]:
bool1 = True

In [72]:
bool2 = False

In [74]:
print(type(bool1))

<class 'bool'>

In [76]:
print(type(bool2))

<class 'bool'>

In [78]:
isinstance(bool1,bool)

True

In [80]:
bool(0)

False

In [82]:
bool(1)

True

In [84]:
bool(None)

False

In [86]:
bool(False)

False

# string
## string creation

In [92]:
str1 = "hello python"
print(str1)

hello python

In [94]:
mystr = 'Hello world'  # define  string using single quotes
print(mystr)

Hello world

In [96]:
mystr = "Hello world"  # define  string using double quotes
print(mystr)

Hello world

In [98]:
mystr = '''Hello
                world'''  # define  string using triple quotes
print(mystr)

Hello
                world

In [100]:
mystr = """Hello
                world"""  # define  string using triple quotes
print(mystr)

Hello
                world

In [106]:
mystr = ('happy ' 
         'sunday '
         'Everyone')
print(mystr)

happy sunday Everyone

In [110]:
mystr2 = 'woohoo '
mystr2 = mystr2*5
mystr2

'woohoo woohoo woohoo woohoo woohoo '

In [114]:
len(mystr2)   # check length of string

35

In [116]:
str1

'hello python'

In [120]:
str1[0] # first characters in string1

'h'

In [122]:
str1[len(str1)-1] # last character in string using function

'n'

In [124]:
str1[-1] # last character in string

'n'

In [126]:
str1[6] # fetch 7th  element of string

'p'

In [130]:
str1[4]

'o'

## string slicing

In [133]:
str = str1
str

'hello python'

In [135]:
str[0:5] ## start sclicing - fetch all character from 0 to 5 index location exe

'hello'

In [137]:
str[6:12]  #string slicing  retrive all characters between 6 - 12 index loc e

'python'

In [139]:
str[-4:]  # retreive last characters of the string

'thon'

In [141]:
str[:-4]

'hello py'

In [143]:
str[-6:] # retreive last six characters of the string

'python'

In [145]:
str[:4] # retreive first four characters of the string

'hell'

In [147]:
str[:6] # retreive first  six characters of the string

'hello '

##  update a & delete string

In [150]:
# string are immutable wich means elements of a string cannot be changed once
str[0:5]= 'Hollaa'

TypeError: 'str' object does not support item assignment

In [152]:
del str # Delete astring
print(str)

<class 'str'>