 # Tuple creation

In [2]:
tup = ()

In [4]:
tup2 = (10,30,60,)

In [6]:
tup3 = (20.35,55.30,23.12)

In [8]:
tup4 = ('one','two','three')

In [14]:
tup5 = ('Asif',25,(40,25),(100,56))

In [16]:
tup6 = (100,'Asif',40.56)

In [22]:
tup7 = ('Asif', 25, [20,100],[70,20],{'john','david'},(90,85,23))

In [26]:
len(tup7)     #length of list

6

# Tuple indexing

In [29]:
tup2[0]

10

In [31]:
tup5[0]

'Asif'

In [33]:
tup7[-5]

25

In [35]:
tup6[-1]

40.56

In [37]:
tup7[0]

'Asif'

# Tuple slicing

In [5]:
mytuple = ('one', 'two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [7]:
mytuple[0:3]

('one', 'two', 'three')

In [9]:
mytuple[2:5]

('three', 'four', 'five')

mytuple[:3]

In [13]:
mytuple[:2]

('one', 'two')

mytuple[-2:]

In [23]:
mytuple[:]  # return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove and change item

In [28]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [30]:
del mytuple[0]  # tuple are immutable wich means e can't DELETEtuple

TypeError: 'tuple' object doesn't support item deletion

In [32]:
mytuple[0] = 1    # tuple are immutable wich means we can't CHANGE tuple

TypeError: 'tuple' object does not support item assignment

In [34]:
del mytuple  # deleting entire tuple objectis possible

 # Loop through a tuple

In [44]:
mytuple = ('one', 'two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [46]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [61]:
 for i enumerate(mytuple):
      print(i)

SyntaxError: invalid syntax (449408373.py, line 1)